<!--
<h3>{{name}}</h3>

<div class="steps">
    <p>Steps:</p>
    <ul>
        {{#each steps}}
            <li>{{no}} - {{text}}</li>
        {{/each}}
    </ul>
</div>
<div class="ingredients">
    <p>Ingredients:</p>
    <ul>
        {{#each ingredients}}
            <li>{{amount}} {{measure}} of {{name}}</li>
        {{/each}}
    </ul>
</div>
-->
<div class="grid-item tile">
    <div class="tile-background">
        <a href="/recipe/{{_id}}">
            <div class="image-overlay-top">
                <h5>{{name}}</h5>
            </div>
            <img class="img-responsive" src="{{imageUrl}}" />
        </a>
        <div class="tile-desc">
            <ul class="recipe-times">
<li><span class="glyphicon glyphicon-time"></span>Prep: {{prepTime}} minutes</li>
<li><span class="glyphicon glyphicon-time"></span>Cook: {{cookTime}} minutes</li>
                </ul>
            <h4>Contains:</h4>
            <div class="ingredients-list">
                {{#each ingredients}}
                <span class="ingredient-name">{{name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="tile-footer">
            <div class="heart-total">
                <span class="glyphicon glyphicon-heart"></span><span>{{likes}}</span>
            </div>
            <input type="checkbox" class="hidden" id="like-{{_id}}">
            <label for="like-{{_id}}" class="button-like">
                    <span class="glyphicon glyphicon-heart"></span>
                </label>
        </div>
    </div>
</div>